@using UnnamedApp.Mobile.Components.NoRoute
@inherits LayoutComponentBase
<MudLayout>
    <MudThemeProvider />
    <MudPopoverProvider />
    <MudDialogProvider />
    <MudSnackbarProvider />

    <MudMainContent Style="padding-top:0">
        <div class="page">
            <main>
                <article class="content">
                    @Body  
                    
                </article>
                
            </main>
            <div class="floating-menu">
                <FloatingMenu />
            </div>
            <div class="sidebar">
                <NavMenu />
            </div>
        </div>
    </MudMainContent>
</MudLayout>