@inherits LayoutComponentBase
@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

<div class="page">
    <main>
        <article class="content">
            <MudLayout>
                <MudMainContent>
                    @Body
                </MudMainContent>
            </MudLayout>
        </article>
    </main>
    <div class="sidebar">
        <NavMenu /> 
    </div>
</div>
