@inject NavigationManager NavigationManager
<div>
    <NavLink href="" Match="NavLinkMatch.All">
  
        <span class="">Comprados</span>
    </NavLink>
</div>
<div>
    <NavLink href="Comprados" Match="NavLinkMatch.All">
        <span class="">Lista</span>
    </NavLink>
</div>
<div>
    <NavLink href="Comprados" Match="NavLinkMatch.All">
        <span class="">Gastos</span>
    </NavLink>
</div>




@code {
    public string CurrentPage = string.Empty;
    
    public string CompradosPage = "Comprados";
    private bool IsHomePage = false;


    protected async override Task OnInitializedAsync()
    {
        CurrentPage = NavigationManager.Uri;
        
        if(CurrentPage == NavigationManager.BaseUri)
            {
                IsHomePage = true;
            }
    }

    
}
