@inject NavigationManager NavigationManager
<div>
    <NavLink @onclick='() => PageHasChanged(PageOne)'
             href="ItemsList"
             Match="NavLinkMatch.All">
        <span>
            Listas
        </span>
        
    </NavLink>
</div>
<div>
    <NavLink @onclick='() => PageHasChanged(PageTwo)'
             href="Gastos"
             Match="NavLinkMatch.All">
        <span class="">Gastos</span>
    </NavLink>
</div>

<div>
    <NavLink @onclick='() => PageHasChanged(PageThree)'
            href="Comprados"
             Match="NavLinkMatch.All">
        <span class="">Comprados</span>
    </NavLink>
</div>




@code {
    private string PageOne = "ItemsList";
    private string PageTwo = "Gastos";
    private string PageThree = "Comprados";
    public string? CurrentPage { get; set; }

    public async Task PageHasChanged(string pageName)
    {
        //Comparar o CurrentPage com a próxima página, caso a página seja a mesma, voltar para Home
        if(CurrentPage == pageName)
        {
            NavigationManager.NavigateTo("/home");
        }
        await Task.Delay(10); //Delay artificial para obter o CurrentPage correto a tempo
        CurrentPage = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        //System.Diagnostics.Debug.WriteLine($"CurrentPage: {CurrentPage}");     
    }
}
